{% extends 'KrovitchUnramalakBundle::layout.html.twig' %}

{% block layout %}
<div class="row">
    <!-- main content -->
    <div class="span9">
        {% block content %}{% endblock %}
    </div>
    <!-- right column -->
    <div class="span3">

    </div>
</div>
{% endblock %}