app/bootstrap.php.cache
app/cache/*
app/logs/*
app/config/parameters.yml
build/
bin
composer.phar
composer.lock
vendor
web/bundles/
web/css/
src/Krovitch/KrovitchBundle/Resources/maps

# IDE
.idea/*
# KDE
.directory
# Compass
.sass-cache
config.rb
# paper.js
init/paperjs/
init/js