app/bootstrap.php.cache
app/cache/*
app/logs/*
app/config/parameters.yml
app/config/deploy.rb
build/
bin
composer.phar
composer.lock
vendor
web/bundles/
web/css/

# IDE
.idea/*
# KDE
.directory
# Compass
.sass-cache
config.rb
# paper.js
init/js
init/old