// editor's styles

h1 {
  @extend .center-text;
}

h2 {
  @extend .center-text;
}

#editor-menu {
  margin-bottom: 35px;

  ul.choices li {
    cursor: pointer;

    &.selected {
      border: 1px solid blue;
    }
    &.title {
      clear: both;
    }
    &.land {
      width: 50px;
    }
    img {
      height: 50px;
    }
  }
}
