@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/afrezet\/workspace\/unRaMaLaK\/Symfony\/src\/Krovitch\/KrovitchBundle\/Resources\/sass\/partials\/_base\.scss}line{font-family:\0000327}}
body {
  margin: 0px;
  padding: 0px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/afrezet\/workspace\/unRaMaLaK\/Symfony\/src\/Krovitch\/KrovitchBundle\/Resources\/sass\/partials\/_classes\.scss}line{font-family:\000033}}
.floatbreaker {
  clear: both;
  border: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/afrezet\/workspace\/unRaMaLaK\/Symfony\/src\/Krovitch\/KrovitchBundle\/Resources\/sass\/partials\/_classes\.scss}line{font-family:\000037}}
.hidden {
  display: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/afrezet\/workspace\/unRaMaLaK\/Symfony\/src\/Krovitch\/KrovitchBundle\/Resources\/sass\/partials\/_classes\.scss}line{font-family:\0000310}}
.loader {
  display: none;
  height: 16px;
  width: 16px;
  background-image: url("../images/ajax-loader.gif");
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/afrezet\/workspace\/unRaMaLaK\/Symfony\/src\/Krovitch\/KrovitchBundle\/Resources\/sass\/partials\/_classes\.scss}line{font-family:\0000318}}
.red-box-shadow {
  -webkit-box-shadow: 3px -3px 50px rgba(161, 3, 3, 0.76);
  -moz-box-shadow: 3px -3px 50px rgba(161, 3, 3, 0.76);
  box-shadow: 3px -3px 50px rgba(161, 3, 3, 0.76);
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/afrezet\/workspace\/unRaMaLaK\/Symfony\/src\/Krovitch\/KrovitchBundle\/Resources\/sass\/partials\/_classes\.scss}line{font-family:\0000323}}
.container-background-color {
  background: #ffffff;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/afrezet\/workspace\/unRaMaLaK\/Symfony\/src\/Krovitch\/KrovitchBundle\/Resources\/sass\/partials\/_classes\.scss}line{font-family:\0000328}}
.unlock, #menu-bar-container #menu-bar .login-hidden input[type="submit"] {
  font-family: "Unlock", cursive;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/afrezet\/workspace\/unRaMaLaK\/Symfony\/src\/Krovitch\/KrovitchBundle\/Resources\/sass\/partials\/_classes\.scss}line{font-family:\0000333}}
.center-text, h1, h2 {
  text-align: center;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/afrezet\/workspace\/unRaMaLaK\/Symfony\/src\/Krovitch\/KrovitchBundle\/Resources\/sass\/partials\/_classes\.scss}line{font-family:\0000338}}
.alert {
  margin-bottom: 5px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/afrezet\/workspace\/unRaMaLaK\/Symfony\/src\/Krovitch\/KrovitchBundle\/Resources\/sass\/partials\/_menu\.scss}line{font-family:\000032}}
.menu {
  border-right: 1px solid #eeeeee;
  padding: 5px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/afrezet\/workspace\/unRaMaLaK\/Symfony\/src\/Krovitch\/KrovitchBundle\/Resources\/sass\/partials\/_menu\.scss}line{font-family:\000038}}
#menu-bar-container {
  height: 40px;
  width: 100%;
  position: fixed;
  top: 0px;
  z-index: 10;
  color: #ffffff;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #000000), color-stop(44%, #000000), color-stop(95%, #737373));
  background: -webkit-linear-gradient(top, #000000, #000000 44%, #737373 95%);
  background: -moz-linear-gradient(top, #000000, #000000 44%, #737373 95%);
  background: -o-linear-gradient(top, #000000, #000000 44%, #737373 95%);
  background: linear-gradient(top, #000000, #000000 44%, #737373 95%);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/afrezet\/workspace\/unRaMaLaK\/Symfony\/src\/Krovitch\/KrovitchBundle\/Resources\/sass\/partials\/_menu\.scss}line{font-family:\0000318}}
#menu-bar-container #menu-bar {
  width: 1000px;
  margin: 0px auto;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/afrezet\/workspace\/unRaMaLaK\/Symfony\/src\/Krovitch\/KrovitchBundle\/Resources\/sass\/partials\/_menu\.scss}line{font-family:\0000322}}
#menu-bar-container #menu-bar a {
  color: #ffffff;
  display: block;
  float: left;
  height: 30px;
  padding: 10px 35px 0px 35px;
  text-decoration: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/afrezet\/workspace\/unRaMaLaK\/Symfony\/src\/Krovitch\/KrovitchBundle\/Resources\/sass\/partials\/_menu\.scss}line{font-family:\0000330}}
#menu-bar-container #menu-bar a:hover {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #737373), color-stop(44%, #000000), color-stop(95%, #000000));
  background: -webkit-linear-gradient(top, #737373, #000000 44%, #000000 95%);
  background: -moz-linear-gradient(top, #737373, #000000 44%, #000000 95%);
  background: -o-linear-gradient(top, #737373, #000000 44%, #000000 95%);
  background: linear-gradient(top, #737373, #000000 44%, #000000 95%);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/afrezet\/workspace\/unRaMaLaK\/Symfony\/src\/Krovitch\/KrovitchBundle\/Resources\/sass\/partials\/_menu\.scss}line{font-family:\0000333}}
#menu-bar-container #menu-bar a:active {
  opacity: 0.8;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/afrezet\/workspace\/unRaMaLaK\/Symfony\/src\/Krovitch\/KrovitchBundle\/Resources\/sass\/partials\/_menu\.scss}line{font-family:\0000336}}
#menu-bar-container #menu-bar a.active {
  text-decoration: underline;
  color: #d10000;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/afrezet\/workspace\/unRaMaLaK\/Symfony\/src\/Krovitch\/KrovitchBundle\/Resources\/sass\/partials\/_menu\.scss}line{font-family:\0000340}}
#menu-bar-container #menu-bar a.login {
  float: right;
  background: url("../images/icons/down_arrow.png") no-repeat scroll right transparent;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/afrezet\/workspace\/unRaMaLaK\/Symfony\/src\/Krovitch\/KrovitchBundle\/Resources\/sass\/partials\/_menu\.scss}line{font-family:\0000345}}
#menu-bar-container #menu-bar .main_menu {
  margin: 0px auto 0px auto;
  font-size: 12px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/afrezet\/workspace\/unRaMaLaK\/Symfony\/src\/Krovitch\/KrovitchBundle\/Resources\/sass\/partials\/_menu\.scss}line{font-family:\0000350}}
#menu-bar-container #menu-bar .main_menu li {
  height: 40px;
  text-align: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/afrezet\/workspace\/unRaMaLaK\/Symfony\/src\/Krovitch\/KrovitchBundle\/Resources\/sass\/partials\/_menu\.scss}line{font-family:\0000355}}
#menu-bar-container #menu-bar .login-hidden {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #000000), color-stop(44%, #000000), color-stop(95%, #737373));
  background: -webkit-linear-gradient(top, #000000, #000000 44%, #737373 95%);
  background: -moz-linear-gradient(top, #000000, #000000 44%, #737373 95%);
  background: -o-linear-gradient(top, #000000, #000000 44%, #737373 95%);
  background: linear-gradient(top, #000000, #000000 44%, #737373 95%);
  width: 412px;
  position: absolute;
  padding: 0 10px 10px 10px;
  z-index: 10;
  color: #ffffff;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/afrezet\/workspace\/unRaMaLaK\/Symfony\/src\/Krovitch\/KrovitchBundle\/Resources\/sass\/partials\/_menu\.scss}line{font-family:\0000366}}
#menu-bar-container #menu-bar .login-hidden h2 {
  margin: 5px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/afrezet\/workspace\/unRaMaLaK\/Symfony\/src\/Krovitch\/KrovitchBundle\/Resources\/sass\/partials\/_menu\.scss}line{font-family:\0000369}}
#menu-bar-container #menu-bar .login-hidden span {
  width: 412px;
  display: block;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/afrezet\/workspace\/unRaMaLaK\/Symfony\/src\/Krovitch\/KrovitchBundle\/Resources\/sass\/partials\/_menu\.scss}line{font-family:\0000374}}
#menu-bar-container #menu-bar .login-hidden input[type="submit"] {
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  border-radius: 50px;
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
  background: liner-gradient(19% 75% 90deg, #e0e0e0, #fafafa);
  color: #4A4A4A;
  padding: 2px;
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.7);
  font-size: 12px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/afrezet\/workspace\/unRaMaLaK\/Symfony\/src\/Krovitch\/KrovitchBundle\/Resources\/sass\/partials\/_menu\.scss}line{font-family:\0000386}}
#menu-bar-container #menu-bar .logged {
  float: right;
  padding: 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/afrezet\/workspace\/unRaMaLaK\/Symfony\/src\/Krovitch\/KrovitchBundle\/Resources\/sass\/partials\/_menu\.scss}line{font-family:\0000390}}
#menu-bar-container #menu-bar .logged a {
  display: inline;
  padding: 0px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/afrezet\/workspace\/unRaMaLaK\/Symfony\/src\/Krovitch\/KrovitchBundle\/Resources\/sass\/style\.scss}line{font-family:\000039}}
#unramalak {
  padding-top: 40px;
  margin-right: auto;
  margin-left: auto;
}
