<!DOCTYPE html>
<html>
<head>
    <title>Buuuuuuuuuuunnnndddleee !!!!!</title>
    <!--javascripts -->
    <script language="javascript" type="text/javascript" src="/bundles/krovitch/js/paper.js"></script>
    <script language="javascript" type="text/javascript" src="/bundles/krovitch/js/jquery/jquery.min.js"></script>
    {#<script language="javascript" type="text/javascript" src="/bundles/krovitch/js/jquery/jquery.class.js"></script>#}
    {#<script language="javascript" type="text/paperscript" src="/bundles/krovitch/js/unramalak/unramalak.class.js"#}
                {#data-paper-canvas="myCanvas"></script>#}
    {#<script language="javascript" type="text/javascript" src="/bundles/krovitch/js/main.js"></script>#}
    <!--stylesheets -->
    {% stylesheets '@KrovitchBundle/Resources/public/css/*'
                   '@KrovitchBundle/Resources/public/css/bootstrap/*' %}
        <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
</head>
<body>

{% include 'KrovitchBundle:Layout:top.html.twig' %}

{% if app.session.hasFlash('notice') %}
    <div class="flash-notice">
        {{ app.session.flash('notice') }}
    </div>
{% endif %}

<div id="unramalak" class="container">
    {% block layout %}{% endblock %}
</div>

</body>
</html>