// frontend main css
@import "partials/_imports.scss";

// container
#container{
  margin-top: $menu-height;
  width: $site-width;
  margin-right: auto;
  margin-left: auto;
  opacity: 0.8;

  @extend .container-background-color;
}

.container-background-color{
  background: #ffffff;
}

// site
*{
	margin: 0px;
	padding: 0px;
	outline: none;
}
body{
	font-family: Arial;
	font-size: 12px;
	background: url('../images/logo.png') no-repeat 224px -119px #000000;
  padding-top: 124px;
  //@include background(radial-gradient(color-stops(#ffffff, #000000), top));

  @include transition-property(opacity);
  @include transition-duration(1s);
  //@include transition-timing-function(ease-in);
}
.floatbreaker{
	clear: both;
	border: none;
}

// Generals
ul{
	li{
		float: left;
		display: inline-block;
	}
}


// Homepage
#login{
  position: relative;
  left: 450px;
  top: -101px;
  width: 400px;

  @extend .container-background-color;
}