// frontend main css
@import "partials/_imports.scss";

body{
  @include background-image(linear-gradient(top, #bfbfbf 0%, #000000 6%, #13173d 13%, #040a18 29%, #05011d 67%, #000000 100%));

  font-family: Arial;
	font-size: 12px;
  background-repeat: no-repeat;
  background-color: #000000;
  // TODO unramalak : supprimer cette propriété quand yaura assez de contenu
  min-height: 750px;
}

// container
#container{
  width: $site-width;
  margin-right: auto;
  margin-left: auto;
  margin-top: $menu-height + 25px;
  opacity: 0.8;

  .content{
    @extend .container-background-color;
    @extend .red-box-shadow;

    height: 500px;
    padding: $site-padding;
    clear: both;
  }
}

// main title
.title{
  @extend .container-background-color;
  @extend .unlock;
  @include box-shadow(3px -3px 4px rgba(161, 3, 3, 0.76));

  height: 40px;
  width: 500px;
  float: right;
  padding: 5px;
  margin-right: 75px;
  text-align: center;
}

// site
*{
	margin: 0px;
	padding: 0px;
	outline: none;
}

ul{
	li{
		float: left;
		display: inline-block;
	}
}

// Homepage
/*.login-container{
  height: 0px;

  .login{
    position: relative;
    left: 450px;
    //top: -101px;
    top: -17px;
    width: 400px;
    height: 150px;

    @extend .container-background-color;

    &.minimized{
      heigth: 50px;
    }
  }
}*/