// frontend main css
@import "partials/_imports.scss";


body{
	font-family: Arial;
	font-size: 12px;
  //@include background(radial-gradient(color-stops(#ffffff, #000000), top));
  //background: no-repeat 224px -119px #000000;

  //@include background(radial-gradient(color-stops(#c00, #fff, #00c 50px), top));


background: #bfbfbf; /* Old browsers */
background: -moz-linear-gradient(top, #bfbfbf 0%, #000000 6%, #13173d 13%, #040a18 29%, #05011d 67%, #000000 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#bfbfbf), color-stop(6%,#000000), color-stop(13%,#13173d), color-stop(29%,#040a18), color-stop(67%,#05011d), color-stop(100%,#000000)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #bfbfbf 0%,#000000 6%,#13173d 13%,#040a18 29%,#05011d 67%,#000000 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #bfbfbf 0%,#000000 6%,#13173d 13%,#040a18 29%,#05011d 67%,#000000 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #bfbfbf 0%,#000000 6%,#13173d 13%,#040a18 29%,#05011d 67%,#000000 100%); /* IE10+ */
background: linear-gradient(top, #bfbfbf 0%,#000000 6%,#13173d 13%,#040a18 29%,#05011d 67%,#000000 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bfbfbf', endColorstr='#000000',GradientType=0 ); /* IE6-9 */

  min-height: 750px;
  overflow: hidden;

  background-repeat: no-repeat;
  background-color: #000000;

  //@include transition-property(opacity);
  //@include transition-duration(1s);

  //font-family: 'Unlock', cursive;
}



// container
#container{
  width: $site-width;
  margin-right: auto;
  margin-left: auto;
  margin-top: $menu-height + 25px;

  @extend .container-background-color;
  //padding-top: 124px;

  opacity: 0.8;
  //



  .content{

    -moz-box-shadow: 3px -3px 4px rgba(161, 3, 3, 0.76);
        //-webkit-box-shadow: -6px -4px 77px rgba(0, 0, 0, 0.76);
     height: 500px;
     padding: $site-padding;
     clear: both;
  }

}

.title{
     @extend .container-background-color;
     height: 40px;
     width: 500px;
     padding: 5px;
     float: right;
     margin-right: 75px;

     -moz-box-shadow: 3px -3px 4px rgba(161, 3, 3, 0.76);
  }



.container-background-color{
  background: #ffffff;
}

// site
*{
	margin: 0px;
	padding: 0px;
	outline: none;
}

.floatbreaker{
	clear: both;
	border: none;
}
.hidden{
  display: none;
}

// Generals
ul{
	li{
		float: left;
		display: inline-block;
	}
}

// Homepage
.login-container{
  height: 0px;

  .login{
    position: relative;
    left: 450px;
    //top: -101px;
    top: -17px;
    width: 400px;
    height: 150px;

    @extend .container-background-color;

    &.minimized{
      heigth: 50px;
    }
  }
}

/*background: rgb(0,7,221); /* Old browsers */
/*background: -moz-linear-gradient(top,  rgba(0,7,221,1) 2%, rgba(0,3,94,1) 21%, rgba(0,3,94,1) 54%, rgba(24,24,38,1) 100%); /* FF3.6+ */
//background: -webkit-gradient(linear, left top, left bottom, color-stop(2%,rgba(0,7,221,1)), color-stop(21%,rgba(0,3,94,1)), color-stop(54%,rgba(0,3,94,1)), color-stop(100%,rgba(24,24,38,1))); /* Chrome,Safari4+ */
//background: -webkit-linear-gradient(top,  rgba(0,7,221,1) 2%,rgba(0,3,94,1) 21%,rgba(0,3,94,1) 54%,rgba(24,24,38,1) 100%); /* Chrome10+,Safari5.1+ */
//background: -o-linear-gradient(top,  rgba(0,7,221,1) 2%,rgba(0,3,94,1) 21%,rgba(0,3,94,1) 54%,rgba(24,24,38,1) 100%); /* Opera 11.10+ */
//background: -ms-linear-gradient(top,  rgba(0,7,221,1) 2%,rgba(0,3,94,1) 21%,rgba(0,3,94,1) 54%,rgba(24,24,38,1) 100%); /* IE10+ */
//background: linear-gradient(top,  rgba(0,7,221,1) 2%,rgba(0,3,94,1) 21%,rgba(0,3,94,1) 54%,rgba(24,24,38,1) 100%); /* W3C */
//filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0007dd', endColorstr='#181826',GradientType=0 ); /* IE6-9 */
