<!DOCTYPE html>
<html>
<head>
    <title>Buuuuuuuuuuunnnndddleee !!!!!</title>
    <!--javascripts -->
    <script language="javascript" type="text/javascript" src="/bundles/krovitch/js/paperjs/paper.js"></script>
    <script language="javascript" type="text/javascript" src="/bundles/krovitch/js/jquery/jquery.min.js"></script>
    <script language="javascript" type="text/javascript" src="/bundles/krovitch/js/jquery/jquery.class.js"></script>
    <script language="javascript" type="text/javascript" src="/bundles/krovitch/js/unramalak/main/menu.js"></script>
    <script language="javascript" type="text/javascript" src="/bundles/krovitch/js/unramalak/map/map.js"></script>
    <script language="javascript" type="text/javascript"
            src="/bundles/krovitch/js/unramalak/geometry/geometry.js"></script>
    <script language="javascript" type="text/javascript" src="/bundles/krovitch/js/unramalak/events/events.js"></script>
    <script language="javascript" type="text/javascript" src="/bundles/krovitch/js/unramalak/unramalak.js"
            data-paper-canvas="myCanvas"></script>
    <script language="javascript" type="text/javascript" src="/bundles/krovitch/js/launch.js"></script>
    {##}
    {#<script language="javascript" type="text/javascript" src="/bundles/krovitch/js/main.js"></script>#}
    <!--stylesheets -->
    {% stylesheets '@KrovitchBundle/Resources/public/css/bootstrap/*' '@KrovitchBundle/Resources/public/css/*' %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
</head>
<body>

{% include 'KrovitchBundle:Layout:top.html.twig' %}

<div id="unramalak" class="container">
    {% include 'KrovitchBundle:Layout:flash.html.twig' %}
    {% block layout %}{% endblock %}
</div>

</body>
</html>