<!DOCTYPE html>
<html>
<head>
    <title>Buuuuuuuuuuunnnndddleee !!!!!</title>
    <!--javascripts -->
    <script language="javascript" type="text/javascript" src="/bundles/krovitch/js/paperjs/paper.js"></script>
    <script language="javascript" type="text/javascript" src="/bundles/krovitch/js/jquery/jquery.extended.js"></script>
    <script language="javascript" type="text/javascript" src="/bundles/krovitch/js/jquery/jquery.class.js"></script>
    <script language="javascript" type="text/javascript" src="/bundles/krovitch/js/main.js"></script>
    <script language="javascript" type="text/javascript" src="/bundles/krovitch/js/unramalak/main/menu.js"></script>
    <script language="javascript" type="text/javascript" src="/bundles/krovitch/js/unramalak/map/map.js"></script>
    <script language="javascript" type="text/javascript" src="/bundles/krovitch/js/unramalak/geometry/geometry.js"></script>
    <script language="javascript" type="text/javascript" src="/bundles/krovitch/js/unramalak/events/events.js"></script>
    <script language="javascript" type="text/javascript" src="/bundles/krovitch/js/unramalak/unramalak.js"
            data-paper-canvas="myCanvas"></script>
    <script language="javascript" type="text/javascript" src="/bundles/krovitch/js/launch.js"></script>
    {##}
    {#<script language="javascript" type="text/javascript" src="/bundles/krovitch/js/main.js"></script>#}
    <!--stylesheets -->
    <link href="/bundles/krovitch/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/bundles/krovitch/css/style.css" rel="stylesheet" type="text/css" />
</head>
<body>

{% include 'KrovitchBundle:Layout:top.html.twig' %}

<div id="unramalak" class="container">
    {% include 'KrovitchBundle:Layout:flash.html.twig' %}
    {% block layout %}{% endblock %}
</div>

</body>
</html>