{% extends mainTemplate %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <h1>La map, la map !!!</h1>
    <a href="{{ path('_homepage') }}">Homepage</a>

    <canvas id="myCanvas" width="1400" height="3000"></canvas>
{% endblock %}