{% extends mainTemplate %}

{% block content %}
    <h1>La map, la map !!!</h1>
    <a href="{{ path('_homepage') }}">Homepage</a>

    <div id="editor-menu">
        <ul class="choices">
            <li class="title">{% trans %}Terrain de base{% endtrans %}</li>
            <li class="menu-item" data-type="land" data-value="yellow">
                <img src="/bundles/krovitch/images/sand.png" alt="{% trans %}Sable{% endtrans %}"/>
            </li>
        </ul>
        <ul class="actions">
            <li><a href="javascript:void(0);" class="menu-action save" data-menu-action="save">{% trans %}
                    save{% endtrans %}</a></li>
        </ul>
    </div>

    <canvas id="myCanvas" width="1000" height="1000">
        It seems that your old and ugly browser does not support canvas yet...
    </canvas>

    <script type="text/javascript" language="javascript">
        $(document).ready(function () {
            console.log({{ map }});

            var ur = new Unramalak.Application();
            ur.run();
        });
    </script>
{% endblock %}