{% extends mainTemplate %}

{% block content %}
    <h1>La map, la map !!!</h1>

    <div id="editor-menu">
        {% trans %}editor.map.baseLand{% endtrans %}
        <a href="javascript:void(0);" class="btn btn-small menu-item" data-type="land" data-value="yellow">
            <img src="/bundles/krovitch/img/sand.png" alt="{% trans %}editor.map.sand{% endtrans %}"/></a>
        <a href="javascript:void(0);" class="btn btn-small menu-item" data-type="land" data-value="blue">
            <img src="/bundles/krovitch/img/water.png" alt="{% trans %}editor.map.water{% endtrans %}"/></a>

        <a class="btn btn-danger btn-small menu-item" data-type="land" data-value=""
           title="{% trans %}editor.map.removeBackground{% endtrans %}"><i class="icon-white icon-remove"></i></a>

        <a href="javascript:void(0);" class="menu-action btn btn-success btn-small" data-action="save">
            <i class="icon-white icon-ok"></i>{% trans %}editor.map.save{% endtrans %}</a>
    </div>

    <canvas id="myCanvas" width="1000" height="1000">
        It seems that your old and ugly browser does not support canvas yet...
    </canvas>

    <script type="text/javascript" language="javascript">
        $(document).ready(function () {
            var mapData = {{ map|raw }};

            var ur = new Unramalak.Application('myCanvas', mapData);
            ur.run();
        });
    </script>
{% endblock %}