{% extends mainTemplate %}

{% block content %}
    <h1>La map, la map !!!</h1>
    <a href="{{ path('_homepage') }}">Homepage</a>

    <div id="editor-menu">
        <ul class="choices">
            <li class="title">{% trans %}Terrain de base{% endtrans %}</li>
            <li>
                <a href="javascript:void(0);" class="menu-item" data-type="land" data-value="yellow">
                    <img src="/bundles/krovitch/images/sand.png" alt="{% trans %}editor.map.sand{% endtrans %}"/></a>
            </li>
        </ul>
        <ul class="actions">
            <li><a href="javascript:void(0);" class="menu-action" data-action="save">
                    {% trans %}editor.map.save{% endtrans %}</a></li>
        </ul>
    </div>

    <canvas id="myCanvas" width="1000" height="1000">
        It seems that your old and ugly browser does not support canvas yet...
    </canvas>

    <script type="text/javascript" language="javascript">
        $(document).ready(function () {

            var mapData = {{ map|raw }};
            console.log('mapData', mapData);

            var ur = new Unramalak.Application('myCanvas', mapData);
            ur.run();
        });
    </script>
{% endblock %}