/* line 5, ../sass/scss/main.scss */
#container {
  margin-top: 40px;
  width: 1000px;
  margin-right: auto;
  margin-left: auto;
  background: #737373;
}

/* line 15, ../sass/scss/main.scss */
* {
  margin: 0px;
  padding: 0px;
  outline: none;
}

/* line 20, ../sass/scss/main.scss */
body {
  font-family: Arial;
  font-size: 12px;
  background: #000000;
}

/* line 26, ../sass/scss/main.scss */
.floatbreaker {
  clear: both;
  border: none;
}

/* line 33, ../sass/scss/main.scss */
ul li {
  float: left;
  display: inline-block;
}
