/* line 3, /home/afrezet/workspace/unramalak_symfony/web/sass/scss/partials/_classes.scss */
.floatbreaker {
  clear: both;
  border: none;
}

/* line 7, /home/afrezet/workspace/unramalak_symfony/web/sass/scss/partials/_classes.scss */
.hidden {
  display: none;
}

/* line 10, /home/afrezet/workspace/unramalak_symfony/web/sass/scss/partials/_classes.scss */
.loader {
  display: none;
  height: 16px;
  width: 16px;
  background-image: url("../images/ajax-loader.gif");
}

/* line 18, /home/afrezet/workspace/unramalak_symfony/web/sass/scss/partials/_classes.scss */
.red-box-shadow, #container .content {
  -moz-box-shadow: 3px -3px 50px rgba(161, 3, 3, 0.76);
  -webkit-box-shadow: 3px -3px 50px rgba(161, 3, 3, 0.76);
  -o-box-shadow: 3px -3px 50px rgba(161, 3, 3, 0.76);
  box-shadow: 3px -3px 50px rgba(161, 3, 3, 0.76);
}

/* line 23, /home/afrezet/workspace/unramalak_symfony/web/sass/scss/partials/_classes.scss */
.container-background-color, #container .content, .title {
  background: #ffffff;
}

/* line 28, /home/afrezet/workspace/unramalak_symfony/web/sass/scss/partials/_classes.scss */
.unlock, .title {
  font-family: 'Unlock', cursive;
}

/* line 4, ../sass/scss/main.scss */
body {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #bfbfbf), color-stop(6%, #000000), color-stop(13%, #13173d), color-stop(29%, #040a18), color-stop(67%, #05011d), color-stop(100%, #000000));
  background: -webkit-linear-gradient(top, #bfbfbf 0%, #000000 6%, #13173d 13%, #040a18 29%, #05011d 67%, #000000 100%);
  background: -moz-linear-gradient(top, #bfbfbf 0%, #000000 6%, #13173d 13%, #040a18 29%, #05011d 67%, #000000 100%);
  background: -o-linear-gradient(top, #bfbfbf 0%, #000000 6%, #13173d 13%, #040a18 29%, #05011d 67%, #000000 100%);
  background: -ms-linear-gradient(top, #bfbfbf 0%, #000000 6%, #13173d 13%, #040a18 29%, #05011d 67%, #000000 100%);
  background: linear-gradient(top, #bfbfbf 0%, #000000 6%, #13173d 13%, #040a18 29%, #05011d 67%, #000000 100%);
  font-family: Arial;
  font-size: 12px;
  background-repeat: no-repeat;
  min-height: 750px;
}

/* line 15, ../sass/scss/main.scss */
#container {
  width: 1000px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 65px;
  opacity: 0.8;
}
/* line 22, ../sass/scss/main.scss */
#container .content {
  height: 500px;
  padding: 25px;
  clear: both;
}

/* line 33, ../sass/scss/main.scss */
.title {
  -moz-box-shadow: 3px -3px 4px rgba(161, 3, 3, 0.76);
  -webkit-box-shadow: 3px -3px 4px rgba(161, 3, 3, 0.76);
  -o-box-shadow: 3px -3px 4px rgba(161, 3, 3, 0.76);
  box-shadow: 3px -3px 4px rgba(161, 3, 3, 0.76);
  height: 40px;
  width: 500px;
  float: right;
  padding: 5px;
  margin-right: 75px;
  text-align: center;
}

/* line 47, ../sass/scss/main.scss */
* {
  margin: 0px;
  padding: 0px;
  outline: none;
}

/* line 54, ../sass/scss/main.scss */
ul li {
  float: left;
  display: inline-block;
}

/*.login-container{
  height: 0px;

  .login{
    position: relative;
    left: 450px;
    /*top: -101px; */
    top: -17px;
    width: 400px;
    height: 150px;

    @extend .container-background-color;

    &.minimized{
      heigth: 50px;
    }
  }
}*/
