/* globals */
/* line 2, /home/afrezet/workspace/unramalak_symfony/web/sass/scss/../../unramalakPlugin/scss/editor.scss */
.clicked {
  border: 1px solid red !important;
}

/* Map Editor */
/* line 7, /home/afrezet/workspace/unramalak_symfony/web/sass/scss/../../unramalakPlugin/scss/editor.scss */
#editor {
  float: left;
  width: 500px;
}

/* Editor Menu */
/* line 13, /home/afrezet/workspace/unramalak_symfony/web/sass/scss/../../unramalakPlugin/scss/editor.scss */
#editor-menu {
  float: left;
  width: 300px;
}

/* line 17, /home/afrezet/workspace/unramalak_symfony/web/sass/scss/../../unramalakPlugin/scss/editor.scss */
#editor-menu .cell-type {
  cursor: pointer;
}

/* line 22, /home/afrezet/workspace/unramalak_symfony/web/sass/scss/../../unramalakPlugin/scss/editor.scss */
#editor-pointer-menu {
  cursor: pointer;
}

/* line 2, /home/afrezet/workspace/unramalak_symfony/web/sass/scss/../../unramalakPlugin/scss/menu.scss */
#menu-bar {
  height: 40px;
  width: 100%;
  position: fixed;
  top: 0px;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #000000), color-stop(44%, #000000), color-stop(95%, #737373));
  background: -webkit-linear-gradient(top, #000000, #000000 44%, #737373 95%);
  background: -moz-linear-gradient(top, #000000, #000000 44%, #737373 95%);
  background: -o-linear-gradient(top, #000000, #000000 44%, #737373 95%);
  background: -ms-linear-gradient(top, #000000, #000000 44%, #737373 95%);
  background: linear-gradient(top, #000000, #000000 44%, #737373 95%);
}
/* line 10, /home/afrezet/workspace/unramalak_symfony/web/sass/scss/../../unramalakPlugin/scss/menu.scss */
#menu-bar #main-menu {
  width: 1000px;
  margin: 0px auto 0px auto;
  font-size: 16px;
}
/* line 16, /home/afrezet/workspace/unramalak_symfony/web/sass/scss/../../unramalakPlugin/scss/menu.scss */
#menu-bar #main-menu li {
  height: 40px;
  text-align: center;
}
/* line 20, /home/afrezet/workspace/unramalak_symfony/web/sass/scss/../../unramalakPlugin/scss/menu.scss */
#menu-bar #main-menu a {
  color: #ffffff;
  padding: 10px 35px 0px 35px;
  height: 30px;
  text-decoration: none;
  display: block;
}
/* line 27, /home/afrezet/workspace/unramalak_symfony/web/sass/scss/../../unramalakPlugin/scss/menu.scss */
#menu-bar #main-menu a:hover {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #737373), color-stop(44%, #000000), color-stop(95%, #000000));
  background: -webkit-linear-gradient(top, #737373, #000000 44%, #000000 95%);
  background: -moz-linear-gradient(top, #737373, #000000 44%, #000000 95%);
  background: -o-linear-gradient(top, #737373, #000000 44%, #000000 95%);
  background: -ms-linear-gradient(top, #737373, #000000 44%, #000000 95%);
  background: linear-gradient(top, #737373, #000000 44%, #000000 95%);
}
/* line 30, /home/afrezet/workspace/unramalak_symfony/web/sass/scss/../../unramalakPlugin/scss/menu.scss */
#menu-bar #main-menu a:active {
  opacity: 0.8;
}
/* line 33, /home/afrezet/workspace/unramalak_symfony/web/sass/scss/../../unramalakPlugin/scss/menu.scss */
#menu-bar #main-menu a.active {
  text-decoration: underline;
  color: #d10000;
}

/*




-moz-linear-gradient(top, #ffffff 0%, #f1f1f1 50%, #e1e1e1 51%, #f6f6f6 100%);







737373


background-image: linear-gradient(bottom, rgb(115,115,115) 0%, rgb(0,0,0) 94%, rgb(1,5,15) 79%);
background-image: -o-linear-gradient(bottom, rgb(115,115,115) 0%, rgb(0,0,0) 94%, rgb(1,5,15) 79%);
background-image: -moz-linear-gradient(bottom, rgb(115,115,115) 0%, rgb(0,0,0) 94%, rgb(1,5,15) 79%);
background-image: -webkit-linear-gradient(bottom, rgb(115,115,115) 0%, rgb(0,0,0) 94%, rgb(1,5,15) 79%);
background-image: -ms-linear-gradient(bottom, rgb(115,115,115) 0%, rgb(0,0,0) 94%, rgb(1,5,15) 79%);

background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0, rgb(115,115,115)),
	color-stop(0.94, rgb(0,0,0)),
	color-stop(0.79, rgb(1,5,15))
);





.in-css3 {
  background: url(foo.png),
              linear-gradient(top left, #333, #0c0),
              radial-gradient(#c00, #fff 100px);
}
.with-compass {
  @include background(image-url("foo.png"),
                      linear-gradient(top left, #333, #0c0),
                      radial-gradient(#c00, #fff 100px));
}*/
/* Map */
/* line 2, /home/afrezet/workspace/unramalak_symfony/web/sass/scss/../../unramalakPlugin/scss/map.scss */
#map {
  float: left;
}

/* line 6, /home/afrezet/workspace/unramalak_symfony/web/sass/scss/../../unramalakPlugin/scss/map.scss */
#map-editor-table td {
  width: 40px;
  height: 40px;
  border: 1px solid black;
}

/* line 11, /home/afrezet/workspace/unramalak_symfony/web/sass/scss/../../unramalakPlugin/scss/map.scss */
#map-editor-table td:hover {
  border: 1px solid red;
}
