/* line 3, /home/afrezet/workspace/unramalak_symfony/web/sass/scss/partials/_classes.scss */
.floatbreaker {
  clear: both;
  border: none;
}

/* line 7, /home/afrezet/workspace/unramalak_symfony/web/sass/scss/partials/_classes.scss */
.hidden {
  display: none;
}

/* line 10, /home/afrezet/workspace/unramalak_symfony/web/sass/scss/partials/_classes.scss */
.loader {
  display: none;
  height: 16px;
  width: 16px;
  background-image: url("../images/ajax-loader.gif");
}

/* line 18, /home/afrezet/workspace/unramalak_symfony/web/sass/scss/partials/_classes.scss */
.red-box-shadow {
  -moz-box-shadow: 3px -3px 50px rgba(161, 3, 3, 0.76);
  -webkit-box-shadow: 3px -3px 50px rgba(161, 3, 3, 0.76);
  -o-box-shadow: 3px -3px 50px rgba(161, 3, 3, 0.76);
  box-shadow: 3px -3px 50px rgba(161, 3, 3, 0.76);
}

/* line 23, /home/afrezet/workspace/unramalak_symfony/web/sass/scss/partials/_classes.scss */
.container-background-color {
  background: #ffffff;
}

/* line 28, /home/afrezet/workspace/unramalak_symfony/web/sass/scss/partials/_classes.scss */
.unlock, #menu-bar .login-hidden, #menu-bar .login-hidden input[type="submit"] {
  font-family: 'Unlock', cursive;
}

/* globals */
/* line 2, /home/afrezet/workspace/unramalak_symfony/web/sass/scss/../../unramalakPlugin/scss/editor.scss */
.clicked {
  border: 1px solid red;
}

/* line 5, /home/afrezet/workspace/unramalak_symfony/web/sass/scss/../../unramalakPlugin/scss/editor.scss */
.hovered {
  border: 1px solid blue;
}

/* Map Editor */
/* line 10, /home/afrezet/workspace/unramalak_symfony/web/sass/scss/../../unramalakPlugin/scss/editor.scss */
#editor {
  float: left;
  width: 500px;
}

/* line 14, /home/afrezet/workspace/unramalak_symfony/web/sass/scss/../../unramalakPlugin/scss/editor.scss */
#map-editor {
  height: 500px;
}
/* line 17, /home/afrezet/workspace/unramalak_symfony/web/sass/scss/../../unramalakPlugin/scss/editor.scss */
#map-editor .clicked {
  border: none;
  -moz-box-shadow: 0px 0px 4px rgba(161, 3, 3, 0.9);
  background-color: rgba(161, 3, 3, 0.4);
  padding: 1px;
}

/* Editor Menu */
/* line 26, /home/afrezet/workspace/unramalak_symfony/web/sass/scss/../../unramalakPlugin/scss/editor.scss */
#editor-menu {
  float: right;
  width: 300px;
}
/* line 34, /home/afrezet/workspace/unramalak_symfony/web/sass/scss/../../unramalakPlugin/scss/editor.scss */
#editor-menu ul li {
  width: 100px;
  margin-right: 10px;
  margin-bottom: 10px;
}

/* line 42, /home/afrezet/workspace/unramalak_symfony/web/sass/scss/../../unramalakPlugin/scss/editor.scss */
.editor-menu-container, #editor-menu > div {
  width: 100%;
  clear: both;
}

/* line 49, /home/afrezet/workspace/unramalak_symfony/web/sass/scss/../../unramalakPlugin/scss/editor.scss */
#editor-menu .cell-type {
  cursor: pointer;
}

/* line 54, /home/afrezet/workspace/unramalak_symfony/web/sass/scss/../../unramalakPlugin/scss/editor.scss */
#editor-pointer-menu {
  cursor: pointer;
}

/* line 2, /home/afrezet/workspace/unramalak_symfony/web/sass/scss/../../unramalakPlugin/scss/menu.scss */
#menu-bar {
  height: 40px;
  width: 100%;
  position: fixed;
  top: 0px;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #000000), color-stop(44%, #000000), color-stop(95%, #737373));
  background: -webkit-linear-gradient(top, #000000, #000000 44%, #737373 95%);
  background: -moz-linear-gradient(top, #000000, #000000 44%, #737373 95%);
  background: -o-linear-gradient(top, #000000, #000000 44%, #737373 95%);
  background: -ms-linear-gradient(top, #000000, #000000 44%, #737373 95%);
  background: linear-gradient(top, #000000, #000000 44%, #737373 95%);
}
/* line 10, /home/afrezet/workspace/unramalak_symfony/web/sass/scss/../../unramalakPlugin/scss/menu.scss */
#menu-bar a {
  color: #ffffff;
  padding: 10px 35px 0px 35px;
  height: 30px;
  text-decoration: none;
  display: block;
}
/* line 17, /home/afrezet/workspace/unramalak_symfony/web/sass/scss/../../unramalakPlugin/scss/menu.scss */
#menu-bar a:hover {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #737373), color-stop(44%, #000000), color-stop(95%, #000000));
  background: -webkit-linear-gradient(top, #737373, #000000 44%, #000000 95%);
  background: -moz-linear-gradient(top, #737373, #000000 44%, #000000 95%);
  background: -o-linear-gradient(top, #737373, #000000 44%, #000000 95%);
  background: -ms-linear-gradient(top, #737373, #000000 44%, #000000 95%);
  background: linear-gradient(top, #737373, #000000 44%, #000000 95%);
}
/* line 20, /home/afrezet/workspace/unramalak_symfony/web/sass/scss/../../unramalakPlugin/scss/menu.scss */
#menu-bar a:active {
  opacity: 0.8;
}
/* line 23, /home/afrezet/workspace/unramalak_symfony/web/sass/scss/../../unramalakPlugin/scss/menu.scss */
#menu-bar a.active {
  text-decoration: underline;
  color: #d10000;
}
/* line 28, /home/afrezet/workspace/unramalak_symfony/web/sass/scss/../../unramalakPlugin/scss/menu.scss */
#menu-bar .main_menu {
  width: 1000px;
  margin: 0px auto 0px auto;
  font-size: 16px;
}
/* line 34, /home/afrezet/workspace/unramalak_symfony/web/sass/scss/../../unramalakPlugin/scss/menu.scss */
#menu-bar .main_menu li {
  height: 40px;
  text-align: center;
}
/* line 38, /home/afrezet/workspace/unramalak_symfony/web/sass/scss/../../unramalakPlugin/scss/menu.scss */
#menu-bar .main_menu li.login {
  float: right;
  background: url("../images/icons/down_arrow.png") no-repeat scroll right transparent;
}
/* line 44, /home/afrezet/workspace/unramalak_symfony/web/sass/scss/../../unramalakPlugin/scss/menu.scss */
#menu-bar .login-hidden {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #737373), color-stop(44%, #000000), color-stop(95%, #000000));
  background: -webkit-linear-gradient(top, #737373, #000000 44%, #000000 95%);
  background: -moz-linear-gradient(top, #737373, #000000 44%, #000000 95%);
  background: -o-linear-gradient(top, #737373, #000000 44%, #000000 95%);
  background: -ms-linear-gradient(top, #737373, #000000 44%, #000000 95%);
  background: linear-gradient(top, #737373, #000000 44%, #000000 95%);
  width: 380px;
  position: absolute;
  padding: 0 10px 10px 10px;
  z-index: 10;
  color: #ffffff;
}
/* line 54, /home/afrezet/workspace/unramalak_symfony/web/sass/scss/../../unramalakPlugin/scss/menu.scss */
#menu-bar .login-hidden input {
  float: left;
}
/* line 57, /home/afrezet/workspace/unramalak_symfony/web/sass/scss/../../unramalakPlugin/scss/menu.scss */
#menu-bar .login-hidden h2 {
  margin-bottom: 5px;
}
/* line 60, /home/afrezet/workspace/unramalak_symfony/web/sass/scss/../../unramalakPlugin/scss/menu.scss */
#menu-bar .login-hidden span {
  width: 380px;
  display: block;
}
/* line 64, /home/afrezet/workspace/unramalak_symfony/web/sass/scss/../../unramalakPlugin/scss/menu.scss */
#menu-bar .login-hidden input[type="submit"] {
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
  background: -moz-linear-gradient(19% 75% 90deg, #e0e0e0, #fafafa);
  background: -webkit-gradient(linear, left top, left bottom, from(#fafafa), to(#e0e0e0));
  color: #4A4A4A;
  padding: 2px;
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.7);
  font-size: 12px;
  margin: 10px 10px 0px 0px;
  float: right;
}

/*




-moz-linear-gradient(top, #ffffff 0%, #f1f1f1 50%, #e1e1e1 51%, #f6f6f6 100%);







737373


background-image: linear-gradient(bottom, rgb(115,115,115) 0%, rgb(0,0,0) 94%, rgb(1,5,15) 79%);
background-image: -o-linear-gradient(bottom, rgb(115,115,115) 0%, rgb(0,0,0) 94%, rgb(1,5,15) 79%);
background-image: -moz-linear-gradient(bottom, rgb(115,115,115) 0%, rgb(0,0,0) 94%, rgb(1,5,15) 79%);
background-image: -webkit-linear-gradient(bottom, rgb(115,115,115) 0%, rgb(0,0,0) 94%, rgb(1,5,15) 79%);
background-image: -ms-linear-gradient(bottom, rgb(115,115,115) 0%, rgb(0,0,0) 94%, rgb(1,5,15) 79%);

background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0, rgb(115,115,115)),
	color-stop(0.94, rgb(0,0,0)),
	color-stop(0.79, rgb(1,5,15))
);





.in-css3 {
  background: url(foo.png),
              linear-gradient(top left, #333, #0c0),
              radial-gradient(#c00, #fff 100px);
}
.with-compass {
  @include background(image-url("foo.png"),
                      linear-gradient(top left, #333, #0c0),
                      radial-gradient(#c00, #fff 100px));
}*/
/* Map */
/* line 2, /home/afrezet/workspace/unramalak_symfony/web/sass/scss/../../unramalakPlugin/scss/map.scss */
#map {
  float: left;
}
/* line 5, /home/afrezet/workspace/unramalak_symfony/web/sass/scss/../../unramalakPlugin/scss/map.scss */
#map #map-editor-table td {
  width: 40px;
  height: 40px;
  border: 1px solid black;
}
/* line 10, /home/afrezet/workspace/unramalak_symfony/web/sass/scss/../../unramalakPlugin/scss/map.scss */
#map #map-editor-table td img {
  display: block;
  height: 100%;
  width: 100%;
}
