{% extends 'KrovitchBundle:Editor:index.html.twig' %}

{% block content %}
    <div id="editor-home" class="row">
        <h1>{% trans %}editor.map.title{% endtrans %}</h1>

        <div class="span8">
            <form action="{{ path(route.name, route.parameters) }}" method="post" {{ form_enctype(form) }}>
                {{ form_widget(form) }}

                <input type="submit" value="{% trans %}editor.save{% endtrans %}"/>
            </form>
        </div>

        <div class="actions">
            <a href="{{ path('editor') }}">{% trans %}return{% endtrans %}</a>
        </div>
    </div>
{% endblock %}