{% block form_errors %}
    {% spaceless %}
        <div class="form-group has-error">
            {% if errors|length == 1 %}
                <span class="help-inline">
                {{ errors[0].messagePluralization is null
                ? errors[0].messageTemplate|trans(errors[0].messageParameters, 'validators')
                : errors[0].messageTemplate|transchoice(errors[0].messagePluralization, errors[0].messageParameters, 'validators') }}
                </span>
            {% elseif errors|length > 0 %}
                <ul class="help-block">
                    {% for error in errors %}
                        <li>{{ error.messagePluralization is null
                            ? error.messageTemplate|trans(error.messageParameters, 'validators')
                            : error.messageTemplate|transchoice(error.messagePluralization, error.messageParameters, 'validators') }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    {% endspaceless %}
{% endblock form_errors %}

{% block form_errors_compound %}
    {% spaceless %}
        {% if errors|length == 1 %}
            <div class="alert alert-error control-group error">
        <span class="help-inline">
            {{ errors[0].messagePluralization is null
            ? errors[0].messageTemplate|trans(errors[0].messageParameters, 'validators')
            : errors[0].messageTemplate|transchoice(errors[0].messagePluralization, errors[0].messageParameters, 'validators') }}
        </span>
            </div>
        {% elseif errors|length > 0 %}
            <div class="alert alert-error control-group error">
                <ul class="help-block">
                    {% for error in errors %}
                        <li>{{ error.messagePluralization is null
                            ? error.messageTemplate|trans(error.messageParameters, 'validators')
                            : error.messageTemplate|transchoice(error.messagePluralization, error.messageParameters, 'validators') }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    {% endspaceless %}
{% endblock form_errors_compound %}