@import "compass";

// globals
@import "partials/base";
@import "partials/menu";
// specific
@import "partials/editor";

body {
  @include background(linear-gradient(top, #000000 10%, #0A0736 80%, #090540 98%));
}

#unramalak {
  background: #dddddd;
  border: 1px solid $grey-border;
  padding: 20px;
  margin: 30px auto 0 auto;
  min-height: 800px;
}
// flash notifications
#flash-container {
  position: fixed;
  left: 1165px;

  // messages
  .alert {
    margin-bottom: 5px;
    opacity: 0.9;
  }
}
/**************/
canvas {
  border: 1px solid #a2a2f2;
}