@import "compass";
// globals
@import "partials/base";
@import "partials/classes";
@import "partials/menu";
// specific
@import "partials/editor";

#unramalak {
  padding-top: $menu-height;
  margin-right: auto;
  margin-left: auto;
}
// flash notifications
#flash-container {
  position: fixed;
  left: 1165px;

  // messages
  .alert {
    margin-bottom: 5px;
    opacity: 0.9;
  }
}