@import "compass";

// globals
@import "partials/base";
@import "partials/menu";
// specific
@import "partials/editor";

body {
  //@include background(linear-gradient(top, #000000 10%, #0A0736 80%, #090540 98%));
}

#unramalak {
  //background: #9f9f9f;
  //border: 1px solid $grey-border;
  padding: 20px;
  margin-top: 30px;
}

// flash notifications
.alert-container {
  position: fixed;
  left: 1165px;

  // messages
  .alert {
    margin-bottom: 5px;
    opacity: 0.9;
  }
}

// signin form
.form-signin {
  max-width: 300px;
  padding: 19px 29px 29px;
  margin: 0 auto 20px;

  @include border-radius(5px, 5px);
  @include box-shadow(2px 2px 2px rgba(0,0,0,.05));
}
.form-signin  {
  div.text-center {
    margin-top: 20px;
  }
}

/**************/
canvas {

}