<!DOCTYPE html>
<html>
<head>
    <title>Buuuuuuuuuuunnnndddleee !!!!!</title>
    {%  include 'KrovitchUnramalakBundle:Layout:include.html.twig' %}
</head>
<body>

    {% include 'KrovitchUnramalakBundle:Layout:top.html.twig' %}

    <div id="unramalak" class="container">
        {% include 'KrovitchUnramalakBundle:Layout:flash.html.twig' %}
        {% block layout %}{% endblock %}
    </div>
</body>
</html>