// dimensions
$site-width:   1000px;
$site-padding: 25px;

$menu-height:  40px;
$menu-item-width: 70px;

// fonts
$font-size-big: 16px;

// editor
$cell-height: 15px;
$cell-width: 15px;

// colors
$dark-red: rgba(161, 3, 3, 0.76);

// mixins
@function font-size-to($to-size, $from-size: $base-font-size) {
  @if not $relative-font-sizing and $from-size != $base-font-size {
    @warn "$relative-font-sizing is false but a relative font size was passed to adjust-font-size-to";
  }
  @return $font-unit * $to-size / $from-size;
}