{% extends 'UnramalakBundle:Editor:index.html.twig' %}

{% block content %}
    <div id="editor-home" class="row">
        <h1>{% trans %}Editor{% endtrans %}</h1>

        <div class="span8">
            <form action="{{ path('createHero') }}" method="post" {{ form_enctype(form) }}>
                {{ form_widget(form) }}

                <input type="submit" />
            </form>
        </div>

        <div class="actions">
            <a href="{{ path('editor') }}">{% trans %}return{% endtrans %}</a>
        </div>
    </div>
{% endblock %}