{% extends mainTemplate %}

{% block content %}
    <div id="editor-home" class="row">
        <h1>{% trans %}Editor{% endtrans %}</h1>

        <div class="span8">

        </div>
    </div>
{% endblock %}