{% extends mainTemplate %}

{% block content %}
    <div id="editor-home" class="row">
        <h1>{% trans %}Editor{% endtrans %}</h1>

        <div class="span2">
            <ul class="unstyled">
                <li><a href="{{ path('createHero') }}">{% trans %}create a Hero{% endtrans %}</a></li>
            </ul>

        </div>
        <div class="span6">
            <h2>{% trans %}dashboard{% endtrans %}</h2>

            {% for hero in heroes %}
                <div class="row">
                    <table>
                        <tr>
                            <td>{{  hero.name }}</td>
                            <td>{{  hero.race }}</td>
                        </tr>
                    </table>

                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}