{% extends mainTemplate %}

{% block content %}
    <div id="editor-home" class="row">
        <h1>{% trans %}Editor{% endtrans %}</h1>

        <div class="span2">
            <ul class="unstyled menu">
                <li><a href="{{ path('createHero') }}">{% trans %}create a Hero{% endtrans %}</a></li>
            </ul>
        </div>
        <div class="span6">
            <h2>{% trans %}dashboard{% endtrans %}</h2>

            <div class="row">
                <h3>{% trans %}Hero{% endtrans %}</h3>
                <table>
                    {% for hero in heroes %}
                        <tr>
                            <td>{{ hero.name }}</td>
                            <td>{{ hero.race }}</td>
                            <td class="actions">
                                <a href="{{ path('deleteHero', {'id': hero.id}) }}" class="alert-delete">{% trans %}delete{% endtrans %}</a>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
{% endblock %}