{% extends mainTemplate %}

{% block content %}
    <div class="page-header">
        <h1>{{ 'home.title'|trans }}</h1>
    </div>

    <div class="hidden">
        {{ svg|raw }}
    </div>

    <canvas id="calmar" class="hero-unit" width="300" height="300">
    </canvas>

    <script>
        $(document).ready(function () {

            var ids = {{ ids|raw }};

            console.log('ids', ids);

            // Get a reference to the canvas object
            var canvas = document.getElementById('calmar');
            // Create an empty project and a view for the canvas:
            paper.setup(canvas);

            for (var i in ids) {
                console.log('import', ids[i], i);
                var svg = document.getElementById(ids[i]);
                paper.project.importSVG(svg);
            }


        });
    </script>

{% endblock %}