<div id="map-image-container">
    <img id="land_sand_1" src="/bundles/krovitchunramalakfront/img/textures/sand/sand1.png"/>

    <img id="land_plains_1" src="/bundles/krovitchunramalakfront/img/textures/plains/plains1.png"/>
    <img id="land_plains_2" src="/bundles/krovitchunramalakfront/img/textures/plains/plains2.png"/>
    <img id="land_plains_3" src="/bundles/krovitchunramalakfront/img/textures/plains/plains3.png"/>

    <img id="land_water_1" src="/bundles/krovitchunramalakfront/img/textures/water/water1.png"/>
</div>