{% extends 'KrovitchUnramalakBundle::layout.html.twig' %}

{% block content %}
    <h1>{{ 'unramalak.map.test.title'|trans }}</h1>

    {% include 'KrovitchUnramalakBundle:Map:map.html.twig' %}
{% endblock %}